<div class="footer">
  <div class="footer__block --home">
    <img src="../../../assets/home.png" alt="" class="icon" />
  </div>
  <div class="footer__block --diet">
    <img src="../../../assets/diet.png" alt="" class="icon" />
  </div>
  <div class="footer__block --logo">
    <img src="../../../assets/logo.png" alt="" class="icon" />
  </div>
  <div class="footer__block --results">
    <img src="../../../assets/results.png" alt="" class="icon" />
  </div>
  <div class="footer__block --profile">
    <img src="../../../assets/profile.png" alt="" class="icon" />
  </div>
</div>
