.load-dark {
    background-color: var(--green);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.load-dark h1 {
    color: var(--black);
    font-size: 45px;
}

.svg-container {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    padding-top: 5px;
    left: 50%+10px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}