.day-expandable-container {
  height: 55px;
  transition: height 0.5s ease;
  margin: 10px 0px;
  border-bottom: 2px solid var(--black);
}

.day-expandable-container.expanded {
  height: fit-content;
}

.day-expandable-container.expanded h2 {
  font-size: 30px;
  font-weight: bolder;
}

.day-expandable-container__header {
  display: flex;
  width: 80vw;
  height: fit-content;
}

.day-expandable-container__header h2 {
  margin: 10px 10px;
}

.expand-button {
  background-color: transparent;
  border: unset;
  position: relative;
  align-self: center;
  font-size: 40px;
  color: var(--black);
}

.day-meals {
  display: none;
}

.day-meals.expanded {
  display: block;
}

.headers {
  display: flex;
  justify-content: space-around;
}

.headers h3 {
  background-image: linear-gradient(
    to right,
    var(--dark-grey),
    rgb(10, 10, 10)
  );
  color: var(--green);
  width: 150px;
  padding: 5px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.meal {
  display: flex;
}

.meal span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px 0px;
  font-weight: bolder;
  text-shadow: 1px 0px 3px var(--dark-grey);
}

.meal-time {
  font-size: 24px;
}

.meal-name {
  font-size: 20px;
}

.new-meal-button {
  width: 30px;
  height: 30px;
  background-image: url("../../../../../assets/images/add-dark.png");
  background-size: cover;
  border-radius: 20px;
  border: unset;
  box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.7);
  margin-bottom: 20px;
}

.day-expandable-container.--dark {
  border-color: var(--light-grey);
}

.day-expandable-container.expanded.--dark {
  border-color: var(--green);
}

.day-expandable-container.expanded.--dark h2 {
  color: var(--green);
}

.day-expandable-container.--dark button {
  color: var(--light-grey);
}

.day-expandable-container.expanded.--dark button {
  color: var(--green);
}

.headers.--dark h3 {
  color: var(--light-grey);
  text-shadow: 1px 0px 3px var(--dark-grey);
}

