<div class="modal" *ngIf="isOpen">
    <div class="modal-content">
      <div class="modal-header">
        <h2>New diet</h2>
        <button class="x-button" (click)="closeModal()"></button>
      </div>
      <form *ngIf="dietForm" [formGroup]="dietForm" (ngSubmit)="onSubmit()">
        <div class="name-input">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div class="active-input-container">
          <label class="active-checkmark" for="active">Active diet</label>
          <input type="checkbox" id="active" formControlName="active" />
          <div class="checkbox-cover"></div>
        </div>
        <button class="submit-button" type="submit">Create diet</button>
      </form>
    </div>
  </div>
  