<div class="diets-main">
  <app-header [pageTitle]="title"></app-header>
  <div class="container">
    <div
      class="diet-card"
      [ngClass]="{ '--dark': api.darkTheme === true }"
      *ngFor="let diet of diets"
      (click)="navigateToDiet(diet.id)"
    >
      <h2>{{ diet.name }}</h2>
      <img
        *ngIf="diet.active"
        class="diet-card__checkmark"
        [src]="
          api.darkTheme
            ? '../../../assets/images/checkmark-dark.png'
            : '../../../assets/images/checkmark.png'
        "
        alt=""
      />
      <img
        [src]="
          api.darkTheme
            ? '../../../assets/images/diet-grey.png'
            : '../../../assets/images/diet-dark.png'
        "
        alt=""
      />
      <app-options-button></app-options-button>
    </div>
  </div>
  <app-diet-modal-menu (dietCreated)="refreshWorkouts()"></app-diet-modal-menu>
  <app-add-button (click)="openDietModal()"></app-add-button>
</div>
