.input{
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
}
.input-search{
    width: 330px;
    height: 60px;
    color: var(--green);
    border: 10px;
    font-size: 25px;
    padding: 10px;
    background-color: var(--black);
    border-radius: 25px;
    background-image: url(/src/assets/images/mag-glass.png);
    position: right center;
    background-repeat: no-repeat;
    padding-right: 40px;
    box-sizing: border-box

}

input::placeholder {
    color: var(--green);
    padding: 10px;
    font-size: 25px;
    position: left center;
}