.main {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'K2D', sans-serif;
    background-color: var(--green);
    background-image: url("../assets/images/background-logo.png");
    background-size: 120vw;
    background-repeat: no-repeat;
    background-position-y: 20vh;
    background-position-x: -10vw;
    color: var(--black);
}

.main.--dark {
    background-color: var(--black);
    background-image: url("../assets/images/background-logo-dark.png");
    color: var(--light-grey);
}