.default-img {
    width: 120px;
    height: 120px;
    display: flex;
    background-image: url('../../../assets/images/img-default.png');
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}
.profile-picture{
    width: 30px;
    height: 30px;
    display: flex;
    background-image: url('../../../assets/images/add.picture.png');
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 90%;
    transform: translateX(-50%);
    margin-top: 85px;
}

.profile-container {
    text-align: center;
    margin-top: 100px;
}

input[type="file"] {
    display: none;
}

label {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: underline;
    color: transparent;
    top: 0;
    left: 90%;
    transform: translateX(-50%);
    margin-top: 85px;

}

h2,
p {
    margin: 0;
}