.workouts-main {
  width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
}

.workouts-scroll {
  margin: 85px 0px;
}

h2 {
  margin: 0px 20px;
  font-size: 36px;
}

.workouts-container {
  height: 250px;
}

.workouts-container__scroll {
  overflow-x: auto;
  overflow-x: auto;
}

.workouts-container__render {
  display: flex;
  width: fit-content;
  display: flex;
  width: fit-content;
}

.workouts-container__card {
  background-image: linear-gradient(
    to right,
    var(--dark-grey),
    rgb(10, 10, 10)
  );
  width: 250px;
  height: 150px;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
.workouts-container__card {
  background-image: linear-gradient(
    to right,
    var(--dark-grey),
    rgb(10, 10, 10)
  );
  width: 250px;
  height: 150px;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.workouts-container__card h2 {
  color: var(--green);
  padding: 5px;
  font-size: 25px;
  margin: 0;
.workouts-container__card h2 {
  color: var(--green);
  padding: 5px;
  font-size: 25px;
  margin: 0;
}

.workouts-container__new-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.workouts-container__new-card button {
  background-image: url("../../../assets/images/add-white.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: unset;
}

.workouts-container__new-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.workouts-container__new-card button {
  background-image: url("../../../assets/images/add-white.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: unset;
}

.workout-title.--dark {
  color: var(--green);
}

.workouts-container__card.--dark h2 {
  color: var(--light-grey);
  color: var(--light-grey);
}

