<div class="workouts-main">
  <app-header [pageTitle]="title"></app-header>
  <h2>Verão 2025</h2>
  <div class="workouts-scroll">
    <div class="workout-container">
      <div class="workout-card">
        <h2>Treinão dos cria</h2>
      </div>

      <div class="workout-card">
        <h2>Treinão dos cria</h2>
      </div>

      <div class="workout-card">
        <h2>Treinão dos cria</h2>
      </div>

      <div class="workout-card">
        <h2>Treinão dos cria</h2>
      </div>

      <div class="workout-card">
        <h2>Treinão dos cria</h2>
      </div>
    </div>
  </div>
</div>
