.workouts-main {
    width: 100vw;
    
}

h2 {
    margin-left: 20px;
    font-size: 50px;
}

.workouts-scroll {
    overflow-x: scroll;

}

.workout-container {
    display: flex;
    width: fit-content;
    position: relative;
}

.workout-container h2 {
    position: absolute;
}

.workout-card{
    background-color: var(--black);
    width: 250px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.workout-card h2{
    color: var(--green);
    padding: 5px;
    font-size: 25px;
}