.workouts-main {
    width: 100vw;
    max-height: 100vh;
    margin: 80px 0px;
    overflow-y: auto;
}

h2 {
    margin: 0px 20px;
    font-size: 50px;
}

.workouts-container__scroll {
    overflow-x: auto;
}

.workouts-container__render {
    display: flex;
    width: fit-content;
}

.workouts-container__card{
    background-color: var(--black);
    width: 250px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.workouts-container__card h2{
    color: var(--green);
    padding: 5px;
    font-size: 25px;
    margin: 0;
}