<div class="workouts-main">
  <app-header [pageTitle]="title"></app-header>
  <div class="workouts-container" *ngFor="let workout of workouts">
    <h2 class="workout-title" [ngClass]="{ '--dark': api.darkTheme === true }">{{ workout.name }}</h2>
    <div class="workouts-container__scroll">
      <div class="workouts-container__render">
        <div
          class="workouts-container__card"
          [ngClass]="{ '--dark': api.darkTheme === true }"
          *ngFor="let routine of workout.routines"
          (click)="navigateToRoutine(workout.id, routine.id)"
        >
          <h2>{{ routine.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <app-add-button></app-add-button>
</div>
