@font-face {
    font-family: 'K2D';
    src: url('./assets/fonts/K2D-Regular.ttf') format('truetype'),
}
  

:root {
    --green: #daf204;
    --black: #131313;
    --pink: #f90050;
    --dark-grey: #1e1e1e;
    --opaque-green: rgba(218, 242, 4, 0.9);
    --opaque-black: rgba(19, 19, 19, 0.9);
    --opaque-grey: rgba(180, 180, 180, 0.3);
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--green);
    background-image: url("./assets/images/background-logo.png");
    background-size: 120vw;
    background-repeat: no-repeat;
    background-position-y: 15vh;
    background-position-x: -10vw;
    font-family: 'K2D', sans-serif;
    color: var(--black);
}